@charset "UTF-8";
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    transform: scale(1.05); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #2ECC71;
  color: #777777; }

.container {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
  background-color: #F4F2F2; }

.btn-order {
  cursor: pointer;
  display: inline-block;
  padding-bottom: .1rem;
  font-size: inherit;
  border: none;
  border-bottom: .1rem solid currentColor;
  background-color: transparent;
  color: #EB2F64;
  transition: all .2s; }
  .btn-order:hover {
    color: #777777; }
  .btn-order:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.copyright {
  padding: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #CCCCCC; }

.gallery {
  display: flex; }
  .gallery__item:hover {
    opacity: .94; }
  .gallery__photo {
    display: block;
    width: 100%; }

.prospect {
  border-bottom: 0.1rem solid #D3D3D3;
  display: flex;
  align-items: center; }
  .prospect__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase; }
  .prospect__stars {
    margin-right: auto;
    padding: 1rem;
    height: 3rem;
    width: 16rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; }
    .prospect__stars input {
      position: absolute;
      left: -999rem; }
    .prospect__stars label {
      padding: .5rem;
      height: 4rem;
      width: 3rem;
      color: transparent; }
      .prospect__stars label:hover::before {
        color: #794044; }
      .prospect__stars label::before {
        content: "☆";
        margin-right: -100%;
        font-size: 3rem;
        line-height: 3rem;
        color: #000000; }
  .prospect__location {
    font-size: 1.3rem;
    display: flex;
    align-items: center; }
  .prospect__icon-order {
    margin-right: .5rem;
    height: 1.75rem;
    width: 1.75em;
    fill: #EB2F64; }
  .prospect__rating {
    padding: 0 2.25rem;
    margin-left: 3rem;
    background-color: #179E83;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch; }
  .prospect__rating-average {
    margin-bottom: -.1rem;
    font-size: 2.25rem;
    font-weight: 300; }
  .prospect__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.page-header {
  height: 7rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #D3D3D3;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  margin-left: 2rem;
  height: 3.5rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 6.25rem;
    background-color: #F4F2F2;
    color: inherit;
    transition: all .2s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: #F0EEEE; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #999999; }
  .search__input:focus + .search__button {
    background-color: #F0EEEE; }
  .search__button {
    border: none;
    background-color: #F4F2F2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #333333; }

.menu-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none; }
  .menu-nav__item {
    position: relative; }
    .menu-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .menu-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .2rem;
    background-color: #179E83;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    border-radius: 1%; }
  .menu-nav__item:hover::before, .menu-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .menu-nav__item:active::before {
    background-color: #00B9F7;
    transition: all .9s; }
  .menu-nav__link:link, .menu-nav__link:visited {
    display: block;
    padding: 1.5rem 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .menu-nav__icon {
    margin-right: 2rem;
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor; }

.main-view {
  height: 80rem;
  flex: 1; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: #F0EEEE; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777777; }
  .user-nav__circle {
    height: 1.80rem;
    width: 1.80em;
    font-size: .8rem;
    border-radius: 30%;
    background-color: #EB2F64;
    color: #FFFFFF;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    margin-right: 1rem;
    height: 3.75rem;
    border-radius: 50%; }

.sidebar {
  display: flex; }

.menu {
  background-color: #333333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
