// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$color-grey-light: #F4F2F2;
$color-grey-light-1: #D3D3D3;
$color-grey-light-2: #F0EEEE;
$color-grey-light-3: #999999;
$color-grey-dark: #777777;
$color-grey-dark-1: #333333;

$color-light-blue: #00B9F7;
$color-dark-blue: #041531;

$color-pink: #EB2F64;