/* Colors */
$color-white: #FFFFFF;
$color-black: #000000;

$color-grey-light: #F4F2F2;
$color-grey-light-1: #D3D3D3;
$color-grey-light-2: #F0EEEE;
$color-grey-light-3: #999999;
$color-grey-light-4: #CCCCCC;

$color-grey-dark: #777777;
$color-grey-dark-1: #333333;

$color-green-dark: #179E83;
$color-green-dark-1: #003300;

$color-blue-light: #00B9F7;
$color-green-light: #2ECC71;
$color-burgundy: #794044;
$color-pink: #EB2F64;

/* Media Queries */
$breakpoint-largest: 75em;
$breakpoint-large: 68.75em;
$breakpoint-medium: 56.25em;
$breakpoint-small: 37.5em;
$breakpoint-smallest: 31.25em;