// Header
.page-header {
    @include border-bottom;
    height: 7rem;
    font-size: 1.4rem;
    background-color: $color-white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Logo
.logo {
    margin-left: 2rem;
    height: 3.5rem;
}

// Search
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        margin-right: -3.25rem;
        padding: .7rem 2rem;
        width: 90%;
        font-family: inherit;
        font-size: inherit;
        border: none;
        border-radius: 6.25rem;
        background-color: $color-grey-light;
        color: inherit;
        transition: all .2s;

        &:focus {
            width: 100%;
            outline: none;
            background-color: $color-grey-light-2;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-light-3;
        }
    }

    &__input:focus + &__button {
        background-color: $color-grey-light-2;
    }

    &__button {
        border: none;
        background-color: $color-grey-light;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(.2rem);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-1;
    }
}

// Menu-navigation
.menu-nav {
    margin-top: 3.5rem;
    font-size: 1.4rem;
    list-style: none;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .2rem;
        background-color: $color-green-dark;
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;
        border-radius: 1%;
    }
    
    &__item:hover::before,
    &__item--active::before {
        width: 100%;
        transform: scaleY(1);
    }

    &__item:active::before {
        background-color: $color-blue-light;
        transition: all .9s;
    }

    &__link:link,
    &__link:visited {
        display: block;
        padding: 1.5rem 3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;

        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 2rem;
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor;
    }
}