// Detail
.detail {
    @include border-bottom;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: $color-grey-light-2;

    display: flex;
}

// Description
.description {
    @include second-shadow;
    padding: 3rem;
    margin-right: 4.5rem;
    font-size: 1.4rem;
    background-color: $color-white;

    flex: 0 0 60%;
}

// List
.list {
    @include border-top;
    @include border-bottom;
    margin: 3rem 0;
    padding: 3rem 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-bottom: .7rem;

        flex: 0 0 50%;
    }

    &__item::before {
        content: "";
        display: inline-block;
        margin-right: .7rem;
        height: 1.1rem;
        width: 1.1rem;

        //background-image: url(../img/chevron-thin-right.svg);
        //background-size: cover;

        background-color: $color-pink;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}

// Recommend
.recommend {
    color: $color-grey-dark;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__photo {
        height: 4rem;
        width: 4rem;
        border: .3rem solid $color-white;
        border-radius: 50%;

        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -2.6rem;
        }
    }
}