/* Btn-order */
.btn-order {
    cursor: pointer;
    display: inline-block;
    padding-bottom: .1rem;
    font-size: inherit;
    border: none;
    border-bottom: .1rem solid currentColor;
    background-color: transparent;
    color: $color-pink;
    transition: all .2s;

    & span {
        transition: margin-left .2s;
    }

    &:hover {
        color: $color-grey-dark;

        span {
            margin-left: .8rem;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

/* Button visible and invisible */
.btn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-image: linear-gradient(
        to right, 
        $color-green-light, 
        $color-green-dark);
    color: $color-white;
    overflow: hidden;
    position: relative;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position: absolute;
        top: -100%;
        left: 0;
    }

    &:hover {
        background-image: linear-gradient(
            to left, 
            $color-green-light, 
            $color-green-dark);
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}