/* Pulsate */
@keyframes pulsate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }

    50% {
        @include shadow;
        transform: scale(1.05);
    }

    100% {
        box-shadow: none;
        transform: scale(1);
    }
}