// Base
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $breakpoint-large) {
        font-size: 50%;
    }
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: $color-green-light;
    color: $color-grey-dark;
}